body{
    width: 1200px;
    margin: 0 auto;
    background-color: #F5F5F5;
    padding: 20px;
}
.container{
    width: 800px;
    margin: 0 auto;
    background-color: #F5F5F5;
}

.container h3{
    margin-top: 0px;
}

.gallery, .edit-block{
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 6px gray;
    margin: 20px auto;
    padding: 20px;
}

.error{
    display: none;
    color: red;
}

.edit-block .remove-all{
    float: right;
}

.gallery img{
    width: 178px;
    margin: 10px;
}

.sorting-block{
    float: right;
    display: inline;
}

.date-info {
    position: absolute;
    display: inline-block;
    background-color: rgba(255,255,255,0.8);
    margin-left: 26px;
    margin-top: 11px;
}

.date-info:first-child{
    margin-top: 30px;
}